<h1>All Items</h1>

<div class="cart_list">
  <table style="width:100%">
    <tr>
      <th>Item</th>
      <th>Description</th>
      <th>Price</th>
      <th>Status</th>
    </tr>

    <% @items.each do |item| %>
        <div class="<%= item.title %>">
          <tr>
            <td><%= link_to item.title, category_item_path(item.category, item) %>
                <div class="img"><%= image_tag(item.image_path) %></td></div>
            <td><%= item.description %></td>
            <td><%= item.price  %></td>
            <td><%= item.status %></td>
            <td><%= link_to "Edit", edit_admin_item_path(item) %></td>
          </tr>
        </div>
    <% end %>
  </table>
</div>
