<h1>Admin View</h1>
<h2><%= @item.title %></h2>

<div class="img"><%= image_tag(@item.image_path) %></div>
<%= @item.description %>
$<%= @item.price %>

<%- unless @item.status == 1 -%>
  <%= button_to "Add to Cart", carts_path(item_id: @item.id), class: "btn btn-danger" %>
<% else %>
  <h4 class="retired">Item Retired</h4>
<% end %>

<%= link_to "Admin Dashboard", admin_dashboard_path %><br>
