<h1 class="greeting">Welcome <%= current_user.first_name %></h1>

<h3>Your Profile</h3>
<p>First Name: <%= current_user.first_name %> </p>
<p>Last Name: <%= current_user.last_name %> </p>
<p>Email: <%= current_user.email %> </p>
<%= link_to "Edit My Profile", edit_user_path(current_user) %><br>
<%= link_to "My Orders", orders_path %>
