<h1>Your Cart</h1>

<div class="cart_list">
  <% @cart_items.each do |item, quantity| %>
      <div class="cart_item">
          Item: <%= item.title %>
          Quantity: <%= quantity %>
            <%= form_tag('/cart', id: item.id, method: :put) do %>
                <div>
                  <%= hidden_field_tag :id, "#{item.id}" %>
                  <%= text_field_tag :update %>
                  <%=  submit_tag 'Update Quantity' %>
                </div>
            <% end %>
          Price: <%= item.price  %>
          Sub-Total: <%= (item.price * quantity) %>
      </div>
  <% end %>
</div>

<%- unless current_user == nil -%>
  <%= button_to "Proceed to checkout"%>
<%- else -%>
  <%= button_to "Log In to Checkout", login_path, method: :get %>
  <small><%= link_to "Create Account", new_user_path %></small>
  <%- end -%>
