<h1>Your Cart</h1>

<div class="cart_list">
  <% @cart_items.each do |item, quantity| %>
      <div class="cart_item">
          Item: <%= item.title %><br>
          Quantity: <%= quantity %><br>
            <%= form_tag('/cart', id: item.id, method: :put) do %>
                <div>
                  <%= hidden_field_tag :id, "#{item.id}" %>
                  <%= text_field_tag :update %>
                  <%=  submit_tag 'Update Quantity' %><br>
                </div>
            <% end %>
          Price: <%= item.price  %><br>
          Subtotal: <%= (item.price * quantity) %><br>
      </div>
  <% end %>
</div>

<div class="total">
  Total: $<%= @cart.total %><br>
</div>
<%- unless current_user == nil -%>
  <%= button_to "Proceed to checkout", orders_path, method: :post %>
<%- else -%>
  <%= button_to "Log In to Checkout", login_path, method: :get  %>
  <small><%= link_to "Create Account", new_user_path %></small>
  <%- end -%>
