<h1>Your Cart</h1>

<% @cart.contents.each do |id, quantity| %>
Item: <%= Item.find(id).title %><br>
Quantity: <%= quantity %><br>
<% end %>

<%- unless current_user == nil -%>
  <%= button_to "Proceed to checkout", orders_path, method: :post %>
<%- else -%>
  <%= button_to "Log In to Checkout", login_path, method: :get %>
  <small><%= link_to "Create Account", new_user_path %></small>
  <%- end -%>
