<h1>Your Cart</h1>

<div class="cart_list">
  <% @cart_items.each do |item, quantity| %>
      <div class="cart_item">
          Item: <%= item.title %>
          Quantity: <%= quantity %>
          byebug
            <%= form_for item do |f| %>
                <%=  f.label :quantity %>
                <%=  f.text_field :quantity %>
            <% end %>
          Price: <%= item.price  %>
      </div>
  <% end %>
</div>

<%- unless current_user == nil -%>
  <%= button_to "Proceed to checkout"%>
<%- else -%>
  <%= button_to "Log In to Checkout", login_path, method: :get %>
  <small><%= link_to "Create Account", new_user_path %></small>
  <%- end -%>
