<!DOCTYPE html>
<html>
  <head>
    <title>PogHogs</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!-- Navbar -->
<nav>
  <%= link_to "My Cart", cart_path(@cart) %>
  
</nav>
  <% flash.each do |type, message| %>
    <%= content_tag :div, message, class: type %>
  <% end %>

    <p>Cart: <%= @cart.total_count %> item(s)</p>
    <%= yield %>
  </body>
</html>
