<!DOCTYPE html>
<html>
  <head>
    <title>PogHogs</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <!-- Navbar -->

    <header class="navbar navbar-fixed-top">
      <div class="container">
        <%= link_to "PogHogs", '/', id: "logo" %>
        <nav>
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to "Shop", items_path %></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Categories <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <% all_categories.each do |category| %>
                  <li><%= link_to category.title, category_path(category) %></li>
                <% end %>
              </ul>
            </li>
            <%- unless current_user == nil -%>
              <li><%= link_to "Log out", logout_path, method: :delete %> </li>
            <%- else -%>
              <li><%= link_to "Log In", login_path, method: :get %> </li>
            <%- end -%>
              <li><%= link_to "My Cart", '/cart' %></li>
          </ul>
        </nav>
      </div>
    </header>

    <% flash.each do |type, message| %>
      <%= content_tag :div, message, class: type %>
    <% end %>

    <div class="container">
      <%= yield %>
    </div>

  </body>
</html>
